/* .MuiListItemButton-root:hover {
    background-color: rgba(239, 220, 242, 1) !important;
    color: black !important;
}  */

$base-color: #9c27b0;
$base-color-light: rgba(239, 220, 242, 1);

body{
	overflow: auto !important;
	padding-right: 0 !important;
}

.Mui-selected {
	background-color: $base-color !important;
	color: white !important;
	border-radius: 5px !important;
}

.admin-right-pane {
	background-color: $base-color-light;
	min-height: 100vh;
	height: 100%;
}

.admin-table-container {
	border-radius: 12px !important;
	overflow-x: scroll;
	margin-top: 20px;
}

.MuiTableHead-root{
	background-color:$base-color;
	white-space: nowrap;
	padding: 30px;
	.MuiTableCell-root{
		color: white !important;
		font-size: 14px;
	}
}

.MuiTableSortLabel-icon{
	color: white !important;
}

.MuiTablePagination-root{
	background-color: white;
    text-align: center;
    border-radius: 20px;
    margin: 20px 0;
    width: fit-content;
    box-shadow: 3px 4px 4px -5px black;
	float: right;
	p.MuiTablePagination-selectLabel,p.MuiTablePagination-displayedRows{
		margin: 3px !important;
		font-weight: 500;
	}
}

.admin-reports-user-icon > svg{
	width: 70px;
	height: 70px;
}

.admin-report-filter-container .MuiButton-outlined{
	margin-top: 0 !important;
	width: 100%;
	height: 100%;
}

.admin-main-collapse{
	padding: 0 100px !important;
	background-color: #fee3f587;
	.MuiTextField-root, .MuiFormControl-root{
		background-color: white !important;
	}
}

.admin-main-collapse-header{
	text-align: center;
	background-color: #dc9bda;
	color: white;
	font-weight: 700;
	margin-bottom: 40px;
}