/* .MuiListItemButton-root:hover {
    background-color: rgba(239, 220, 242, 1) !important;
    color: black !important;
}  */

$base-color: #9c27b0;
$base-color-light: rgba(239, 220, 242, 1);

body{
	overflow: auto !important;
	padding-right: 0 !important;
}

.Mui-selected {
	background-color: $base-color !important;
	color: white !important;
	border-radius: 5px !important;
}

.admin-right-pane {
	background-color: $base-color-light;
	min-height: 100vh;
	height: 100%;
}

.admin-table-container {
	border-radius: 12px !important;
	overflow-x: scroll;
	margin-top: 20px;
}

.MuiTableHead-root{
	background-color:$base-color;
	white-space: nowrap;
	padding: 30px;
	.MuiTableCell-root{
		color: white !important;
		font-size: 14px;
	}
}

.MuiTableSortLabel-icon{
	color: white !important;
}

.MuiTablePagination-root{
	background-color: white;
    text-align: center;
    border-radius: 20px;
    margin: 20px 0;
    width: fit-content;
    box-shadow: 3px 4px 4px -5px black;
	float: right;
	p.MuiTablePagination-selectLabel,p.MuiTablePagination-displayedRows{
		margin: 3px !important;
		font-weight: 500;
	}
}

.admin-reports-user-icon > svg{
	width: 70px;
	height: 70px;
}

.admin-report-filter-container .MuiButton-outlined{
	margin-top: 0 !important;
	width: 100%;
	height: 100%;
}

.admin-main-collapse{
	padding: 0 100px !important;
	background-color: #fee3f587;
	.MuiTextField-root, .MuiFormControl-root{
		background-color: white !important;
	}
}

.admin-main-collapse-header{
	text-align: center;
	background-color: #dc9bda;
	color: white;
	font-weight: 700;
	margin-bottom: 40px;
}

.admin-main .MuiCardHeader-title {
	font-size: 20px;
}

.admin-main .MuiCardHeader-subheader{
	font-size: 16px;
	font-weight: 700;
}

.admin-main-payment-hist{
	padding-left: 0;
}

.admin-main-payment-hist .MuiListItemText-primary{
	color: #9c27b0;
	font-weight: 700;
}

.admin-main .search-form{
	margin-bottom: 12px;
	text-align: end;
}

.receipt-header{
	display: flex;
	justify-content: space-around;
	background-color: #ea8b45;
	padding: 20px
}

.receipt-container{
	border: 3px solid black;
	width: 1000px;
	margin: auto;
}

.d-flex{
	display: flex;
	align-items: center;
}

.receipt-ss-contact-info{
	font-size: 19px;
	color: white;
	line-height: 1.7;
}

.receipt-body{
	margin: 20px 10px;
	&-header{
		padding: 10px;
		color: white;
		background-color: #ea8b45;
		display: flex;
		justify-content: space-between;
	}
}

.share-receipt-button{
	border: none !important;
	padding:0 !important
}

@media screen and (max-width: 500px){
	.admin-main .search-form{
		display: flex;
	}	
}